.checkbox-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.toggle {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	background-color: #ddd;
	border-radius: 0.8rem;
	position: relative;
	transition: background-color 0.4s;
}

#check:checked ~ .toggle {
	background-color: #08bb68;
}

.toggle::after {
	content: '';
	position: absolute;
	width: 1.8rem;
	height: 3rem;
	border-right: 5px solid #fff;
	border-bottom: 5px solid #fff;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%) rotateZ(45deg) scale(10);
	opacity: 0;
	transition: all 0.4s;
}

#check:checked ~ .toggle::after {
	opacity: 1;
	transform: translate(-50%, -50%) rotateZ(45deg) scale(1);
}
